.cabecalho-mucabrasil {

    background-color: #BB86FC;
    color: #fff;
}

.informacoes-1 {

    background-color: #424250;
    color: #fff;

}

.informacoes-2 {

    background-color: #424250;
    color: #fff;

}

.informacoes-3 {

    background-color: #424250;
    color: #fff;
}